name: Build and Push Docker Image

on:
  push:
    branches: [ "main" ]  # 仅在推送到 main 分支时触发
    tags: [ 'v*.*.*' ]     # 推送版本标签（如 v1.0.1）时触发

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      # 1. 设置 QEMU (用于支持多架构仿真)
      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3

      # 2. 设置 Docker Buildx
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      # 3. 登录到 Docker Hub
      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      # 4. 构建并推送多架构镜像
      - name: Build and push
        uses: docker/build-push-action@v5
        with:
          context: .
          platforms: linux/amd64,linux/arm64  # 同时构建这两个架构
          push: true
          tags: |
            ${{ secrets.DOCKERHUB_USERNAME }}/mytab:latest
            ${{ secrets.DOCKERHUB_USERNAME }}/mytab:${{ github.sha }}